.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fnt {
    font-family: Roboto-Light;
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    padding-bottom: 200px;
    color: rgba(42, 46, 47, 0.75);
    text-align: justify;
}

.fnt1{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-17%, -83%);
    text-align: center;
    padding-top: 54px;
    padding-bottom: 100px;
    margin-left: 36px;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-info{
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 13px;
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
    line-height: 15px;
    border: 0.1px solid rgba(53, 171, 206, 0.75);
    border-radius: 40px;
    background-color: rgba(53, 171, 206, 0.75);
    transition: all 0.3s ease 0s;
}
#btn-fit{
    padding-left: 35px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-right: 35px;
    margin-left: 380px;
    margin-right: 20px;
    margin-top: 20px;
    outline: none;
}
#p-fit{
    text-align: justify;
    padding-left: 0px;
    width: 25;
    width: 25%;
    padding-right: 0px;
    margin-left: 645px;
    margin-top: 65px;
    line-height: 1.3;
    color: rgba(42, 46, 47, 0.75);

}
.btn-info1{
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 13px;
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
    line-height: 15px;
    border: 0.1px solid rgba(42, 46, 47, 0.75);
    border-radius: 40px;
    background-color: rgba(42, 46, 47, 0.75);
    transition: all 0.3s ease 0s;
}
#btn-fit1{
    padding-left: 30px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-right: 28px;
    margin-left: 380px;
    margin-right: 20px;
    margin-top: 15px;
    outline: none;
}

#imgfit{
    margin-left: 0px
    margin-bottom: 50px;
    padding-left: 25px;
}
#header-fit{
    font-size: 15px;
    font-family: Roboto-Light;
    font-style: normal;
    margin-bottom: 3px;
    color: rgba(42, 46, 47, 0.75);

}

#t-area{
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom-color: #e1e1ea;
    text-align: left;
}

#fulscrn{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#header-fit1{
    margin-bottom: 3px;
    font-size: 15px;
    font-family: Roboto-Light;
    font-style: normal;
    color: rgba(42, 46, 47, 0.75);
}

#t-area1{
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom-color: #e1e1ea;
    text-align: left;
}

#forgot{
    float: right;
    margin-top: 6px;
    font-size: 15px;
    color: #19afec;
    font-weight: 550;
}

.btn-info2{
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 13px;
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
    line-height: 15px;
    border: 0.1px solid rgba(43, 163, 193, 0.75);
    border-radius: 40px;
    background-color: rgba(43, 163, 193, 0.75);
    transition: all 0.3s ease 0s;
}

#btn-fit2{
    padding-left: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding-right: 50px;
    margin-left: 45px;
    margin-right: 20px;
    margin-top: 15px;
    outline: none;
}

.btn-info3{
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 13px;
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
    line-height: 15px;
    border: 0.1px solid rgba(43, 163, 193, 0.75);
    border-radius: 40px;
    background-color: rgba(43, 163, 193, 0.75);
    transition: all 0.3s ease 0s;
}

#btn-fit3{
    padding-left: 35px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-right: 35px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
    outline: none;
}

#no-acc{

    margin-left: 40px;
    font-size: 15px;
    color: white;
    font-weight: 550;
    display: inline-block;
}

.modal {
    display: none; 
    z-index: 1; 
    padding-top: 45px;
    left: -200px;
    top: 0;
    width: 226%; 
    height: 100%; 
    overflow: auto;
    position: absolute;
    margin-right: 2px;
    
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000000;
}

.modal-body {
    padding: 2px 16px;
    font-family: OpenSans;
    font-style: normal;
    font-size: 18px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000000;
}
#btn-center{
    margin-left: 112px;
}

.txt-area-center{
    margin-left: 98px;
}

.txt-center{
    margin-left: 32px;
}

#hd-center{
    margin-left: 150px;
}

.mybtn{
    padding-left: 175px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgba(43, 163, 193, 0.75);
}

#sign-up-btn{
    display: inline-block;
    background-color: rgba(42, 46, 47, 0.75);
    outline: none;
    color: rgb(15, 202, 249);
    font-weight: 550;
}
.same-line{
    display: inline-block;
}
#btn-fit5{
    padding-left: 30px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    outline: none;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    margin-right: 20px;
}
.btn-info5{
    font-family: Roboto-Regular;
    font-style: normal;
    font-size: 13px;
    color: rgba(43, 163, 193, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(43, 163, 193, 0.75);
    border-radius: 40px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

#reg-user{
    padding-right: 5px;
    font-size: 17px;
    color: rgba(42, 46, 47, 0.75);
    display: inline-block;
}

#lname-fit{
    float: right;
        margin-top: 12px;
}

#fname-fit{
    float: right;
        margin-top: 12px;
}

#email-fit{
    float: right;
        margin-top: 12px;
}
#phno-fit{
    float: right;
        margin-top: 12px;
}

#st-add-fit{
     float: right;
         margin-top: 12px;
}

#st-add-fit2{
    float:right;
    margin-top: 12px;
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 500;
    font-family: Roboto-Light;
    font-size: 14px;
    font-style: normal;
    color: rgba(42, 46, 47, 0.75);
    padding-bottom: 0px;
   } 

#transparent{
    color: #ffffff;
    opacity: .1;
}

#city-fit1{
    padding-right: 15px;
}
#city-fit2{
    padding-left: 2px;
    padding-right: 23px;
}

.form-control {
    display: inline-block;
    width: 87%;
    height: 34px;
    padding: 20px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}

    .centered-form{
      margin-top: 60px;
    }

    .register{
    text-align: center;
    margin-bottom: -25px;
    margin-right: 199px;
    font-size: 16px;
}
    }
    .toggle1{
      margin-left: 267px;
      margin-bottom: 14px;
      width: 130px;
      border: 2px solid rgba(43, 163, 193, 0.75);
      border-radius: 40px;
      background-color: white;
      color: rgba(43, 163, 193, 0.75);
    }
    #fullform{
      width: 520px;
    }


    .lablee{
      font-size: 13px;font-weight: 400;
    }
    .account{
    color: #ffffff;
    font-size: 13px;
    padding-left: 0px;
    font-weight: 550;
    margin-left: 100px;
    }

    .centered-form .panel{
      background: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
   }

#btn-fit-reg{
    padding-left: 35px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-right: 35px;
    margin-left: 380px;
    margin-right: 20px;
    margin-top: 20px;
    outline: none;
}


#btn-reg{
    display: inline-block;
    float: right;
    padding: 14px 55px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: rgb(226, 226, 234);
    border-radius: 35px;
    border-width: medium;
    color: rgba(53, 171, 206, 0.75);
    background-color: #ffffff0d;
    outline: none;
    border: 2px solid rgba(53, 171, 206, 0.75);
}
#fn-fitt{
    padding-left: 0px;
    padding-right: 0px;
}

.txt-fn{
        padding-left: 0px;
}

#adj{
    margin-bottom: 0px;
    margin-top: 0px;
}

#adj-1{
    padding-left: 16px;
    margin-left: 0px;
    right: 15px;
    padding-right: 59px
}

.txt-fn-2{
        padding-right: 0px;
}

#adj-2{
    padding-right: 0px;
    padding-left: 0px;
}

#adj-3{
    padding-right: 0px;
    padding-left: 0px;
}

.text-fn-right{
    padding-right: 0px
}
#sm-ln{
     margin-left: 80px;
     margin-bottom: 20px;
}
#btn-fit-8{
    padding-left: 10px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    padding-right: 10px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 2px;
    outline: none;
    font-weight: 600;
}
.btn-info-8{
    font-family: Roboto-Regular;
    font-style: normal;
    color: rgba(4, 200, 249, 0.75);
    letter-spacing: 1px;
    line-height: 10px;
    border: 0.1px solid rgba(43, 163, 193, 0.75);
    border-radius: 40px;
    background-color: rgba(42, 46, 47, 0.75);
    transition: all 0.3s ease 0s;
}
}